@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p, a, button{
    font-weight: bold;
    font-size: 13.5px;
}

/* Start MAIN */
/* START IMAGE BOX*/

.section-main{
    display: flex;
    justify-content: center;
    margin-top: 40px ;
    margin-bottom: 40px;
}
.img-gift{
    border-radius:10px;
    width: 444px; 
    margin-right: 55px; 
}

/* END IMAGE BOX */


/* START SING IN BOX */
/* Iconos start* */

.container{
    border: 1px solid #DFDFDF;
    border-radius:10px;
    width: 350px;
    height: 550px;
    text-align: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    margin-left: 55px;
}

.signin{
font-size: 25px;
border:  hidden;
text-align: center;
margin-top: 2px;
margin-bottom: 18px;
color: #3D4040;
}

.logosgfm{
display: flex;
justify-content: space-around;
margin-top: 15px;
}

.google , .fb , .mac{
    border: 1px solid #BAB9B8;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
}

.google:hover , .fb:hover , .mac:hover{
    background-color: #e8e6e6;
    transform: scale(1.1);
    transition: .5s;
}

/* END Logo-iconos*/

/* Start lienas decorativas */

.decorationtext{
    display: inline-block;
    position: relative;
    padding-top: 20px;
    color: #8E9091;
}
.decorationtext::after, .decorationtext::before{
    content:"";
    position: absolute;
    width: 95px;
    height: 1px;
    background-color: #BAB9B8;
}

.decorationtext::before{
left: -104px;
top: 29px;
}

.decorationtext::after{
    right: -104px;
    top: 29px;
}

/* End lineas decorativas */

/* Start BTN email & number*/

.btn-mn{
display: flex;
justify-content: space-evenly;
padding-top: 20px;
color: #5A5A5A;
}

.btnm{
    border-radius: 10px;
    border: hidden;
    background-color: white;
    color: #414545;
    width: 90px;
    height: 40px;
    cursor: pointer;
    transition: .4s;
}

.btnn{
    border-radius: 10px;
    border: hidden;
    background-color: white;
    color: #414545;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition: .4s;    
}

.btnn:hover , .btnm:hover{
    background-color: #ff9654;
    color: white;
}

.btnm:focus, .btnn:focus{
    background-color: #FF731C;
    color: white;
}

.btnm:focus{
    outline: none;
}

/* End BTN email & number*/

/* Start FORM*/

.form{
    padding-top: 20px;
    text-align: left;
    padding-left: 22px;
    padding-right:22px;
    color: #6B6E70;
}

.inpt1 , .inpt2{
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #BAB9B8;
    border-radius: 5px;
    width: 303px;
    height: 40px;
    padding-left: 10px;
    margin-left: -5px;
    outline: none;
}

.inpt1{
    margin-bottom: 10px;
}

.inpt2{
    margin-bottom: 6px;
    background: url(Img/eye.svg) no-repeat;
    background-position: 277px;
}

.inpt2:focus{
    background: url(Img/eye-slash.svg) no-repeat;
    background-position: 277px;    
}


.inpt1:focus , .inpt2:focus{
    border: 1px solid #8E9091;
    box-shadow: 0 2px 1px -1px #BAB9B8;
}

.inpt1:focus::placeholder , .inpt2:focus::placeholder{
    color: transparent;
}


.em , .pw{
    padding-bottom: 5px;
}

.pw , .forgot{
    padding-top: 5px;
}

.forgot{
    text-decoration: none;
    color: #6B6E70;
}

.em , .pw , .forgot{
    margin-left: -3px;
}

.forgot:hover{
    color: #8E9091;
}

::placeholder { 
    color: #8E9091;
    opacity: 0.7;
}

/* End Form */

/* Start Sing in Button */

.lastsect{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-s{
    border-radius: 10px;
    border: hidden;
    background-color: #FF731C;
    color: white;
    width: 196px;
    height: 45px;
    cursor: pointer;
    transition: .2s;
}

.btn-s:hover{
background-color: #ff9654;

}

.acc{
    padding-top: 10px;
    text-decoration: none;
    color: #6B6E70;
}

.rgstr{
    padding-top: 5px; 
    color: #FF731C;
    text-decoration: none;
    border-bottom: 1px solid #FF731C;
}

.rgstr:hover{
    color: #ff9654;
    border-bottom: 1px solid #ff9654;
}
/* End Sign in Button */
/* End MAIN */